@media (max-width: 520px){
    .main_signin_container{
    padding: 0;
}
    .signin_container{
        width: 100%;
        min-height: 100vh;
    }
}
@media (min-width: 521px) and (max-width: 920px){
    .main_signin_container{
    padding: 0;
    }
    .signin_container{
        width: 100%;
        min-height: 100vh;
    }
}